<form action="/movies" method='post'>
  <input type="text" placeholder='...title' name='movie_title'>
  <input type="text" placeholder='...director' name='movie_director'>
  <input type="text" placeholder='...screenwriter' name='movie_screenwriter'>
  <input type="submit">
</form>
