<h3><%= @movie.title %></h3>
<h3><%= @movie.title %></h3>
<h3><%= @movie.title %></h3>

<form action="/movies/<%= @movie.id %>" method='post'>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit'>Delete</button>
</form>
