<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cawr</title>
  <link href="http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%= erb :nav %>
  <%= yield %>
</body>
</html>
