<form action="/books/<%= @book.id %>" method='post'>
  <input type="text" name='book_title' value ='<%= @book.title %>'>
  <input type="text" name='book_author' value ='<%= @book.author %>'>
  <input type="submit">
</form>
