<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="type name here">
  <input type="text" name="age" placeholder="type age here">
  <input type="text"  name="breed" placeholder="type breed here">
  <input type="submit">
</form>
