<form action="/lunches/create" method='post'>
  <input type="text" name='lunch_name' placeholder='name of lunch'>
  <input type="text" name='restaurant' placeholder='name of restaruant'>
  <input type="submit">
</form>
