<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emergency Complimenter</title>
  <style>
    body{ background-color: #<%= @color %>;}
  </style>
</head>
<body>
  <form action="/names" method="post">
    <input type="text" name="name">
    <!-- <input type="submit"> -->
    <button type="submit">COMPLIMENTIFY</button>
  </form>
  <%= yield %>
</body>
</html>