<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
   <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <button class="random-palettes">Unleash The Palettes</button>
</body>
</html>