<form action="/farmers/<%= @farmer.id %>" method='post'>
  <input type="hidden" name='_method' value='put'>
  <%= token_tag %>
  <input type="text" name='farmer[name]' value='<%= @farmer.name %>'>
  <input type="submit">
</form>
