<form action="/friends/<%= @friend.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="username" value="<%= @friend.username %>">
  <input type="submit"
</form>
