<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
  <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <h1>Colors!</h1>
  <button class="color-generator">Unleash The Palettes</button>
  <div class="palettes"></div>
  <div class="palette">
  </div>
</body>
</html>
