<h1>Fill in the boxes ding dong</h1>

<form action="/receipts" method ="post">
  <input type="text" name="company">
  <input type="submit" value="company">
  <input type="text" name="provided">
  <input type="submit" value="good/servive provided">
  <input type="text" name="cost">
  <input type="submit" value="cost">
</form>
