<html>
  <head>
    <title>Matt's Juice Bar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/styles.css">



    <!-- Libraries -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>

    <!-- Templates -->
   <script id="ingredient-template" type="text/template">
      name: <%- ingredient.name %>, amount: <%- ingredient.amount %>
    </script>

    <!--  Da App -->
    <script type="text/javascript" src='javascripts/app.js'></script>

  </head>
  <body>
    <ul id="ingredient-list"></ul>
  </body>

</html>
