<h1>Submit artist 1</h1>

<form action="/artist" method="post">
  <input type="text" name='artist'>
  <input type="submit">
</form>

<h3>submit artist 2</h3>

<form action="/names" method ="post">
  <input type="text" name="user_name">
  <input type="submit">
</form>
