<h1 class='header'>Fun times with OAuth!</h1>

<form action="/auth/twitter" method="get">
  <input type="text" name="username" placeholder="Twitter handle">
  <input type="submit" value="Show me the Oauth!" class='button'>
</form>


<p>
  If you ask my opinion, "Show me the money" really has a better ring to it...
</p>
