<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Learning OAuth in style!</title>
        <link href="/assets/css/style.scss" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
      <%= yield %>
    </body>
</html>
