<h3>Start your ancient map quest here</h3>
<h4>by wdi-proto</h4>

<a href="/location/forest">
  Venture into the Forest
</a><br/>

<a href="/location/sea">
  Surfing Time
</a><br/>

<a href="/location/subway">
  Late...
</a><br/>

<a href="/location/classroom">
  Saved by the bell
</a><br/>
