<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
  <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <h2>Color App</h2>
  <button class='color-generator'>Show me colors</button>
  <div class='palettes'></div>
  <div class='palette'>
    <div class='color' style='width: 100px; height: 100px;'></div>
  </div>
</body>
</html>
