<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Friends!</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="wdi-wrapper">
  <%= yield %>
  </div>
</body>
</html>
