body {
  height: 1000em;
  margin: 0;
  padding: 0;
}

img {
  position: relative;
}

.image-cage {
  width: 100%;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.information-block {
  height: 8em;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.image-banner {
  height: 15em;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
